# GEMSEC Results

In [1]:
import pandas as pd

In [2]:
df_dict = {'Dataset': ['artists', 'athletes', 'company', 'government',
                       'new_sites', 'politicians', 'public_figure', 'tv_show',
                       'croatia', 'hungary', 'romania'],
           'Edges': [819306, 86858, 52310, 89455,
                     206259, 41729, 67114, 17262,
                     498202, 222887, 125826],
           'Nodes': [50515, 13866, 14113, 7057,
                     27917, 5908, 11565, 3892,
                     54573, 47538, 41773]}
df = pd.DataFrame(df_dict).set_index('Dataset')

In [20]:
df['Edges_%'] = df.Edges / df.Edges.max() * 100
df['Nodes_%'] = df.Nodes / df.Nodes.max() * 100
df['ETA (mins)'] = (df.Nodes ** 1.645) / (41773 ** 1.645) * 100
df = df[['Edges', 'Edges_%', 'Nodes', 'Nodes_%', 'ETA (mins)']]
df = df.astype('int')
df.sort_values('Nodes', ascending = False, inplace = True)
df

                Edges  Edges_%  Nodes  Nodes_%  ETA (mins)
Dataset
croatia        498202       60  54573      100         155
artists        819306      100  50515       92         136
hungary        222887       27  47538       87         123
romania        125826       15  41773       76         100
new_sites      206259       25  27917       51          51
company         52310        6  14113       25          16
athletes        86858       10  13866       25          16
public_figure   67114        8  11565       21          12
government      89455       10   7057       12           5
politicians     41729        5   5908       10           4
tv_show         17262        2   3892        7           2